*{
	margin: 0;
	padding: 0;
}
body{
	background: url("../image/background.jpg");
	background-size: 100% 100vh;
}
.container{
	width: 80%;
	/*border: 1px solid black;*/
	margin: 0px auto;
	display: grid;
	grid-template-columns: auto;
}