.one-day{
	width: 100%;
	background: #7dabdb;
	color: white;

}
.one-day .caption{
	padding: 10px 5px 5px 0px;
	font-size: 18px;
}
.one-day .caption div{
	padding: 5px;
}
.one-day > div {
	display: inline-block;
	font-size: 14px;
}
.one-day .caption div{
	display: grid;
	grid-template-columns: repeat(9, 1fr);
}
.one-day .caption div span:first-child{
	display: inline-block;
	width: 130px;
}